button {


width: 90px;
float: right;



}

.signupButton {

	margin: 20px;
}	

.search {

	width: 300px
}

select {
width: 140px
}

.searchBar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr
}
