.wrap {
	display: grid;
	margin-top: 7%;
	grid-template-columns: 25% 50% 25%;
}

.wrapPosttopic {
	display: grid;
	margin-top: 7%;

}

.formPostTopic {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #EDE7F6;
	text-align: left;
	border-radius: 3%;
	border: 2px solid silver;
}

.form {
	background-color: #EDE7F6;
	text-align: left;
	border-radius: 3%;
	border: 2px solid silver;
}

.formSignup {
	margin: 30px;
	background-color: #EDE7F6;
	text-align: left;
	border-radius: 3%;
	border: 2px solid silver;
}

.formInput {
	margin-top: 20px;
}

.uploadLabel {
	margin-top: 20px;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	font-family: 'Roboto Mono', monospace;
}
.rainbow-checkbox-group_checkbox .rainbow-checkbox-group_checkbox-label {
	font-size: 10px;
}
