.wrap {
	display: grid;
	margin-top: 7%;
	grid-template-columns: 25% 50% 25%;
}

.form {
	text-align: left;

}

.formInput {
	margin-top: 20px;
}

.uploadLabel {
	margin-top: 20px;
}

.title {
	display: flex;
	    align-items: center;
	    justify-content: center;
	    margin-top: 5%;
	    margin-left: auto;
	    margin-right: auto;
	    font-size: 25px;
}
