nav {
	padding: 10px 50px;
	display: grid;
	grid-template-columns: 60px 40% 10% auto;
	grid-column-gap: 10px;
	border-bottom: 1px solid #e2e2e2;
}

nav .logo {
	min-height: 100%;
  width: auto;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.logoImage {

	background-image: url('../images/logo.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 70px;
    height: 50px;

}

.profile {
	text-align: right;
	display: grid;
	grid-template-rows: 60% 40%;
}
