.comment {
	 border: 0.5px solid black;
	padding: 2px
}
.comment label {
	font-weight: 400;
	color: silver

}

.linking {
	color: blue;
  text-align: center;
}

h1 {
	font-size: 18px
}

.profileWrap {
display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 30px;
}

.headerName {
	display: inline-block;
	text-align: left;
	padding-left: 5%;
	padding-top: 5%;
	font-size: 20px;
}

.headerPoints{
	text-align: right;
	padding-right: 5%;
	padding-top: 5%;
	font-size: 20px;
}

.boxHolder {
	display: grid;
	grid-template-columns: 10% auto auto 10%;
	margin-bottom: 10%;
	margin-top: 150px;
}

.box{
	border: black solid 1px;
	width: 500px;
}
