.comment {
	 border: 0.5px solid black;
	padding: 2px
}
.comment label {
	font-weight: 400;
	color: silver

}

.linking {
	color: blue;
  text-align: center;
}

h1 {
	font-size: 18px
}

.profileWrap {
display: grid;
grid-template-columns: 1fr 1fr;
}

.headerName {
	display: inline-block;
	text-align: left;
	padding-left: 5%;
	padding-top: 5%;
}

.headerPoints{
	text-align: right;
	padding-right: 5%;
		padding-top: 5%;
}
